<div *ngIf="emprendedorDetail" style="margin-bottom: 2rem;">
  <div class="row">
    <div class="col-4">
      <img [src]="emprendedorDetail.foto_url" alt="{{emprendedorDetail.nombre}}" class="emprendedor-img">
    </div>
    <div class="col-8 emprendedor-info">
      <div class="row title">
        <div class="container-fluid">
          <h1>{{emprendedorDetail.nombre}}</h1>
        </div>
      </div>
      <div class="row">
        <p><strong style="color: green;">Pregrado: </strong> {{emprendedorDetail.pregrado}}</p>
        <p><strong style="color: green;">Género: </strong> {{emprendedorDetail.genero}}</p>
        <div class="emprendimientos">
          <h5 style="color: green;">Emprendimientos: </h5>
          <ul>
            @for (em of emprendedorDetail.emprendimientos; track em) {
              <li>{{em}}</li>
            }
          </ul>
        </div>
      </div>
      <button class="volver-button" (click) = "goBack()">Volver al listado</button>
    </div>
  </div>
</div>
